# INTP scripts
*.intp

# Executables and Object FIles
intp
*.o

# Addiditonal files by CodeBlocks IDE
*.depend
*.layout

# /proj/CodeBlocks/bin*
# /proj/CodeBlocks/object*
# /proj/CodeBlocks/INTP.depend
# /proj/CodeBlocks/INTP.layout

# /proj/Linux/bin*
# /proj/Linux/object*